* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8FAFB;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding-left: 85px;
    padding-right: 85px;
    background-color: #F8FAFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    cursor: pointer;
}

.navbar ul li a {
    text-decoration: none;
    color: #131313;
}

.navbar ul li a:hover {
    color: #FD794F;
}

/* First Section Style*/
/* .section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.section .firstpart {
   width: 40%;
} */

.firstpart {
    padding-top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.firstpart .text {
    width: 40%;
}

.firstpart img {
    width: 600px;
}

.firstpart h2 {

    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color: #131313;

}

.firstpart p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgba(19, 19, 19, 0.5);
    padding-top: 20px;
}

.firstpart button {
    cursor: pointer;
    border-radius: 10px;
    margin-top: 37px;
    padding: 15px 20px;
    font-size: 13px;
}

.firstpart .btn1 {
    background-color: #FD794F;
    color: #131313;
    font-weight: 600;
    border: none;


}

.firstpart .btn2 {
    background-color: #131313;
    color: #F8FAFB;
    font-weight: 600;
    border: none;


    margin-left: 24px;
}



/*foot styling*/
.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FD794F;
    text-align: center;
    gap: 80px;

}

.footdiv {
    line-height: 40px;
    padding: 20px 0px;
}

.footdiv h4 {
    font-size: 35px;
}

.footdiv p {
    font-weight: 600;
    font-size: 27px;

    color: #ffffff;
}

.secondsecdiv1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.secondsecdiv1 img {
    width: 600px;
}

.textsec {
    width: 35%;

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    /* text-align: left; */
}

.textsec h4 {

    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;

}

.textsec p {

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    color: #13131380;
}

.textsec button {
    padding: 15px 35px;
    border-radius: 10px;
    background-color: #FD794F;

    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    border: none;
    color: #131313;
    margin-top: 40px;
}

/*third section style*/
.Thirdsecdiv1 {
    display: flex;
    background-color: #F8FAFB;
    align-items: center;
    justify-content: center;
}

.textsec2 {

    width: 40%;
}

.textsec2 h4 {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
}

.textsec2 .para1 {

    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    color: #13131380;

    margin-bottom: 27px;
}

.textsec2 .para2 {

    font-size: 19px;
    font-weight: 400;
    line-height: 38px;
}

.textsec2 button {
    padding: 15px 35px;
    border-radius: 10px;
    background-color: #FD794F;

    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    border: none;
    color: #131313;
    margin-top: 40px;
}

/*image style*/
.imgs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    position: absolute;
    /* left: 340px; */
    top: 227px;
    border: 2px solid #ffffff;
    width: 350px;


}

.two {
    position: absolute;
    /* left: 607px; */
    top: 170px;
    width: 450px;
}

.three {
    position: absolute;
    /* left: 310px; */
    top: 450px;
    border: 2px solid #ffffff;
    width: 380px;
}

.four {
    position: absolute;
    /* left: 697px; */
    top: 450px;
    border: 2px solid #ffffff;
    width: 380px;
}

/*download style*/
.downloadtext {
    position: relative;
    margin-top: 1000px;
    background-color: #131313;
}

.downloadtext .text {
    padding: 80px 0px;
    width: 65%;
    text-align: center;
}

.downloadtext h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: #ffffff;
}

.downloadtext p {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    color: #F0F2FA;

}

.downloadtext .image {
    display: flex;
    justify-content: flex-end;
}

.downloadtext img {
    position: absolute;
    top: -125px;
}

.downloadtext .btns {
    margin-top: 50px;
}

.downloadtext .bt1 {
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #FD794F;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    border: none;
    color: #131313;
    cursor: pointer;
}

.downloadtext .bt2 {
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    border: none;
    color: #FD794F;
    cursor: pointer;
}

/*testimonial*/
.Testimonial {
    margin-top: 250px;

    background-color: #FD794F;
    padding-bottom: 40px;

}

.Testimonial h2 {
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    padding-top: 50px;
}

.Testimonial p {
    color: #131313;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;


}

.main-testimonial {
    text-align: center;
    background-color: #F0F2FA;
    margin: 70px 150px;
    padding: 60px 0px;
    border-radius: 6px;
}

.main-testimonial h3 {
    color: #FD794F;

    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.lastsec{
    text-align: center;
    padding: 100px 0px;
}

.lasttext h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
   
}

.lasttext p {
   
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}



.form input {
    height: 50px;
    width: 300px;
    border: 2px solid #FD794F;
}

.form button {
    height: 56px;
    width: 155px;
    background-color: #FD794F;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: #131313;
    margin-left: 40px;
}

/*Footer style*/
footer {
   
    text-align: center;
    background-color: #131313;
    color: #fff;
    padding: 20px 0px;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
  
}
footer img{
    margin-left: 10px;
}
footer ul li {
   
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
}


footer p {
 margin-top: 10px;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
}

@media screen and (max-width: 970px) {
    .firstpart {
        padding-top: 140px;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .firstpart .text {
        width: 100%;
        margin-bottom: 90px;
    }

    .secondsecdiv1 {
        display: grid;
        text-align: center;
        justify-content: center;
        margin-top: 50px;
    }

    .secondsecdiv1 .textsec {
        width: 100%;
        margin-bottom: 90px;

    }

    .Thirdsecdiv1 {
        flex-direction: column-reverse;
        text-align: center;
    }

    .textsec2 {
        width: 100%;
    }

    .Thirdsecdiv1 img {
        width: 500px;
    }

    .downloadtext img {
        display: none;
    }

    .downloadtext .text {

        width: 100%;

    }

    .downloadtext {
        margin-top: 50px;
    }
         .imgs {
             display: none;
         }
}

@media screen and (max-width: 720px) {
   

    .main-testimonial {
        margin: 0px 20px;
    }
        .Testimonial {
            margin-top: 50px;
}
}
@media screen and (max-width: 570px) {

    .navbar,
    .secondsecdiv1 img {
        display: none;
    }

    .firstpart h2,
    .textsec2 h4,
    .textsec h4,
    .downloadtext h3,.Testimonial h2, .lasttext h2 {
        font-size: 30px;
    }

    .firstpart button,
    .downloadtext .bt1,
    .downloadtext .bt2 {
        font-size: 10px;
        padding: 10px 15px;
    }

    .firstpart img {
        width: 300px;
    }

    .firstpart .text {
        margin-bottom: 70px;
    }

    .foot {
        display: grid;
        margin-top: 60px;
    }

    .textsec p,
    .textsec2 .para1,
    .textsec2 .para2,
    .firstpart p,
    .downloadtext p, .Testimonial p , .lasttext p{
        font-size: 14px;
    }

    .textsec button,
    .textsec2 button {
        padding: 10px 25px;
    }

    .Thirdsecdiv1 img {
        width: 300px;
        margin-bottom: 30px;
    }

.form input {
    height: 50px;
    width: 160px;
    border: 2px solid #FD794F;
}

.form button {
    height: 50px;
    width: 95px;
   margin-left: 0px;
}
footer ul li, footer p{
    font-size: 13px;
}

}